* {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 150%;
}

body {
    background-color: #fff;
}

header {
    margin-left: 40px;
}

main {
    display: flex;
    margin-left: 80px;
    margin-bottom: 50px;
}